
<ul class="navbar-nav">

    <li class="nav-item">

        <!--This is to translate website language but for now return to index. Will change when language is implemented-->
       <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">English or French</a>

    </li>

</ul>

