@using Microsoft.AspNetCore.Identity

@inject PizzaWebsite.Data.Repositories.IPizzaWebsiteRepository PizzaWebsiteRepository
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">

    <li class="nav-item">

        <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Items">Cart</a>

    </li>

    @if (PizzaWebsiteRepository.GetCurrentCartItems().Count > 0)
    {
        <li class="nav-item">

            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Checkout">Checkout</a>

        </li>

    }
</ul>

