<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<h2>Who We Are</h2>
<p>
    We are a family owned local pizza restaurant which has proudly served the citizens of Montréal through our one location in Sainte-Anne-de-Bellevue for 60 years, and still counting.
    Over the course of our time as a business, we have put smiles on the faces of countless people by doing what we do best: producing the greatest pies that one can acquire in the province of Québec!
</p>
<!-- Source: https://wallpapers-all.com/3466-pizza.html -->
<img src="~/images/about-us/pizza-meal.jpg" alt="Pizza Meal">

<h2>Our Values</h2>
<p>
    Our main priority as a restaurant has always been the quality of our food and the environment which we produce it in. We firmly believe that good food can only be created
    by those who practice regular upkeep of their environment, equipment, and most importantly, hygiene. This dedication to cleanliness can be clearly viewed through the elegant,
    yet down-to-earth atmosphere of our headquarters.
</p>
<!-- Source: https://www.pizzabellasd.com/gallery/ -->
<img src="~/images/about-us/pizza-restaurant.jpg" alt="Pizza Restaurant">

<h2>Our History</h2>
<p>
    The one and only location which we use to satisfy customers was founded during August 23, 1961. Whereas most pizza restaurants aim to expand by developing chains,
    we have always sought growth through improving our methods of food preparation and experimenting with new recipes to produce the highest quality products possible,
    and introduce our customers to all-new flavours.
</p>
<!-- Source: https://www.trendhunter.com/trends/pizza-hut-poutine-pizza -->
<img src="~/images/about-us/pizza-poutine.jpg" alt="Pizza Poutine">


<!--These are the sources for the icons, it is required to be displayed in the websites about us to use them.-->>
<partial name="Other/_SourcesPartial" />

<link rel="stylesheet" href="~/css/about.css" />

