

<div class="text-center">
    <h1>What We Are Doing To Stop The Spread Of Covid-19</h1>
</div>


<h2 style="margin-top: 2rem">Covid Prevention</h2>
<p>
    During these tough times it is important as ever to stay safe. Here at Pizza Website we value both our workers
    and our clients' safety and as such we require the following of some rules to keep everyone as safe as possible.
</p>

<p>
    To enter within our establishment, it is required to wear a functioning mask as to not spread
    the infection. There will also be a device that dispenses hand sanitizer that must be used whenever passed (for both clients
    and employees). Our employees have also been taught proper disease prevention measures, and as such will act in a way that
    will minimize spread in the kitchen and while delivering.
</p>

<p>
    It is also recomended to order online or via phone to minimize contact with other humans (both of which we offer).
    It should also be self explanatory that having the vaccine is also recommended if entering the establishment. This
    will be checked, so if you plan to meet us in person and you want to eat on site, be sure to bring a form of identifier to
    signal that you have been vaccinated.
</p>

<h2>Additional Resources</h2>
<ul class="list-group" style="margin-bottom: 5rem;">
    <li target="_blank" rel="noopener noreferrer" class="list-group-item">
        <a target="_blank" rel="noopener noreferrer" href="https://www.montgomerycountymd.gov/covid19/">www.montgomerycountymd.gov</a>
    </li>

    <li class="list-group-item">
        <a target="_blank" rel="noopener noreferrer" href="https://www.health.harvard.edu/diseases-and-conditions/covid-19-basics">www.health.harvard.edu</a>
    </li>

    <li class="list-group-item">
        <a target="_blank" rel="noopener noreferrer" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">www.cdc.gov</a>
    </li>
</ul>