@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pizza Website!</h1>
</div>

<!-- Heavily assisted by: https://getbootstrap.com/docs/4.1/components/carousel/ -->
<!-- Links in carousel menu assisted by: https://stackoverflow.com/questions/18339638/how-do-i-add-a-links-to-pictures-in-twitter-bootstrap-carousel -->
<div id="popularItemsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#popularItemsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#popularItemsCarousel" data-slide-to="1"></li>
        <li data-target="#popularItemsCarousel" data-slide-to="2"></li>
        <li data-target="#popularItemsCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a asp-area="" asp-controller="Menu" asp-action="Pizzas">
                <!-- Source: https://yesofcorsa.com/pepperoni-pizza/ -->
                <img class="d-block w-100" src="~/images/index/pepperoni-pizza.jpg" alt="Pepperoni pizza">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Pepperoni Pizza</h3>
                    <h5>A pie topped full of pepperoni</h5>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a asp-area="" asp-controller="Menu" asp-action="Pizzas">
                <!-- Source: https://www.tripadvisor.ca/LocationPhotoDirectLink-g155019-d8460552-i153287670-Jz_s_Pizza-Toronto_Ontario.html -->
                <img class="d-block w-100" src="~/images/index/all-dressed-pizza.jpg" alt="All-dressed pizza">
                <div class="carousel-caption d-none d-md-block">
                    <h3>All-Dressed Pizza</h3>
                    <h5>A pie with a little bit of every flavour one could want from a pizza</h5>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a asp-area="" asp-controller="Menu" asp-action="Pizzas">
                <!-- Source: https://bellassubpizza.com/product/16-large-cheese-pizza/ -->
                <img class="d-block w-100" src="~/images/index/cheese-pizza.jpg" alt="Cheese pizza">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Cheese Pizza</h3>
                    <h5>A pie with no toppings, just the essential ingredients</h5>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a asp-area="" asp-controller="Menu" asp-action="Pizzas">
                <!-- Source: https://www.wallpaperbetter.com/food-wallpaper/veggie-pizza-3090 -->
                <img class="d-block w-100" src="~/images/index/vegetarian-pizza.jpg" alt="Vegetarian pizza">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Vegetarian Pizza</h3>
                    <h5>A pie overflowing with a variety of vegetable toppings</h5>
                </div>
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#popularItemsCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#popularItemsCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

