<!--
    Sources:
        https://www.pexels.com/photo/woman-in-blue-denim-jacket-standing-and-holding-books-7363053/
        https://www.pexels.com/photo/a-person-holding-a-wooden-tray-9424930/
        https://www.pexels.com/photo/couple-of-barista-coworkers-standing-in-street-near-cafe-6205486/
-->

<div class="text-center">
    <h2>Are You Looking For A Job?</h2>
    <h1>YOU Should Join Our Family!</h1>
</div>

<img class="center" src="~/images/job/3.jpg" alt="Employees">

<h2>Why Work For Us?</h2>
<p>
    Here at Pizza Website, we take pride in our business and those who work for it. We can guarantee that working for us will be a fun and rewarding experience for any position, ranging from management
    to cooking. We treat all employees fairly without bias, no matter what race or gender they may be, and as a result create an accepting environment that really does make us feel like a family. We
    won't call you in unexpectedly on a weekend like some other more global chains because we respect our employees. We also pay you fairly here and give you the recognition which you deserve
    for your hard work. I think a better question is why wouldn't you work for us!
</p>

<h2>What Are Some Jobs We Offer</h2>
<p>
    We offer a wide variety of jobs at our company, including...
</p>

<ul class="list-group" style="margin-bottom: 2rem;">
    <li class="list-group-item">
        Managers who are responsible for the smooth operation of our business. Get to work with everyone and expand your skillset along the way.
    </li>

    <li class="list-group-item">
        Cooks who are get to work in the kitchen making delicious food with experts who have mastered the art of creating the Pizza that we are known for.
    </li>

    <li class="list-group-item">
        Whenever somebody needs a pizza from home, a pizza deliverer transports it their way! Deliverers bring people their food and along the way get to meet all sorts of individuals as they drive around town.
    </li>

    <li class="list-group-item">
        The face of our family, the Front-Service crew get the role of taking orders in person, online and by phone along with a variety of other tasks along the way! With this position, you will get to not only interact with clients from all over, but get to be a part of a larger team!
    </li>
</ul>

<img class="center" src="~/images/job/1.jpg" alt="Delivery Person">

<h2>Availability</h2>
<p>
    We are always looking for possible new members, especially cooks, deliverers, and Front-Service workers.
    For example we are currently looking for two new Front-Service workers and a new cook to expand our family's
    capacity to give customers experiences that they will remember!
</p>

<h2>What We Are Looking For In An Employee</h2>
<p style="margin-bottom: 1rem;">
    Employees working at Pizza Website should be hard workers, always being ready with a smile on their face. Past
    work experience is preferred but not required (especially for cooks). Employees should also be able to work well
    with coworkers and clients to create a better experience for everyone involved.
</p>

<div class="text-center">
    <a href="mailto:danoliu113@gmail.com?subject=Careers">Apply Here!</a>
</div>

<img class="center" src="~/images/job/2.jpg" alt="Chef">

<link rel="stylesheet" href="~/css/about.css" />

<style>
    .center {
        display: block;
        width: 50%;
        margin: 2rem auto 0px auto;
    }
</style>