<div class="row" style="display: flex; justify-content: space-around;">
    <a asp-area="" asp-controller="Cart" asp-action="CheckoutPickup">
        <p class="btn btn-success">Checkout with Pickup</p>
    </a>
    <a asp-area="" asp-controller="Cart" asp-action="CheckoutDelivery">
        <p class="btn btn-success">Checkout with Delivery</p>
    </a>
</div>